<div class="container add-photo-form">
	<div class="row">
		<div class="card">
			<div class="card-image waves-effect waves-block waves-light">
				<img class="activator" ng-if="vm.pic" ng-src="{{vm.pic}}">
			</div>
			<div class="card-content">
				<file-input url="{{vm.uploadPath}}"
							on-uploaded="vm.onImageUploaded(path)"></file-input>
				<input ng-model="vm.title" placeholder="Title"/>
				<a class="waves-effect waves-light btn"
				   ng-click="vm.postPhoto()">Add</a>
			</div>
		</div>
	</div>
</div>